---
interface Props {
  title: string;
  open?: boolean;
}
const { title, open } = Astro.props;
---

<details class="services" {open}>
  <summary>
    <h3>{title}</h3>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="25"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="m9.55 12l7.35 7.35q.375.375.363.875t-.388.875q-.375.375-.875.375t-.875-.375l-7.7-7.675q-.3-.3-.45-.675t-.15-.75q0-.375.15-.75t.45-.675l7.7-7.7q.375-.375.888-.363t.887.388q.375.375.375.875t-.375.875L9.55 12Z"
      ></path></svg
    >
  </summary>
  <div class="info-services">
    <slot />
  </div>
</details>

<style>
  .services {
    width: 100%;
    container-type: inline-size;
    container-name: services;
  }

  @container services (max-width: 500px) {
    .services .info-services {
      flex-flow: column nowrap;
      gap: 10px;
    }
    .info-services :global(p) {
      text-align: center;
    }
  }

  summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-radius: 5px;
  }

  summary:hover {
    background-color: rgb(var(--primary-color) / 0.6);
  }

  summary svg {
    transform: rotate(90deg);
    color: rgb(var(--text-color));
  }
  summary h3 {
    font-size: var(--text-1);
    font-weight: 600;
    color: rgb(var(--text-color));
    text-transform: capitalize;
  }

  .info-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 15px 5px;
  }

  .info-services :global(p) {
    color: rgb(var(--text-color));
    font-size: var(--text-0);
    width: clamp(200px, 100%, 560px);
  }
  .info-services :global(svg) {
    animation: services-svg 1s infinite alternate;
  }
  @keyframes services-svg {
    to {
      transform: translateY(0);
    }
    from {
      transform: translateY(-10px);
    }
  }

  details[open] summary {
    background-color: rgb(var(--primary-color) / 0.6);
  }
  details[open] summary svg {
    transition: transform 0.5s ease;
    transform: rotate(270deg);
  }
  details[open] {
    border-radius: 7px 7px 0 0;
  }
</style>
